*.sw*
node_modules/
node_converter_all/final/final-product.svg
node_converter_all/final/processSVGFiles-output.svg
nested.svg
node_converter_all/final/delete-this-input.svg
node_converter_all/final/delete_this.svg
node_converter_all/final/img-embedded-in-svg.svg
node_converter_all/final/processSVGFiles-output.pdf
node_converter_all/final/svg-to-pdf-output.pdf
test-output/
